*
/*
.DS_Store
**/.DS_Store
!.gitignore
!Assets/
!Assets/*.py
!*.py
!Assets/screenshots/
!Assets/screenshots/*.png
!.streamlit/
!.streamlit/config.toml
!static/
!static/screenshots
!static/*/*.png
nav_test.py