*
/*
.DS_Store
**/.DS_Store
!.gitignore
!Assets/
!Assets/*.py
!*.py
!.streamlit/
!.streamlit/config.toml
!static/
!static/screenshots
!static/icons
!static/*/*.png
!static/*/*.svg
nav_test.py
fdsc_test.py
